@font-face {
    font-family: "HSYuji", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("./HSYuji.ttf") format(ttf);
}

@font-face {
    font-family: "RixInooAriDuri", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("./RixInooAriDuri.ttf") format(ttf);
}

@font-face {
    font-family: "LINE Seed Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("./LINESeedKR-Th.woff") format(woff);
}

@font-face {
    font-family: "LINE Seed Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./LINESeedKR-Rg.woff") format(woff);
}

@font-face {
    font-family: "LINE Seed Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("./LINESeedKR-Bd.woff") format(woff);
}
